@model GradeWebApp.Models.Book

@{
    ViewBag.Title = "Details";
}

<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h4 class="modal-title" id="myModalLabel">Book Details</h4>
</div>

<div class="modal-body">

    <dl class="dl-horizontal">

        <dt>
            @Html.DisplayNameFor(model => model.BookId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BookId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Book_Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Book_Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ISBN10)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ISBN10)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ISBN13)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ISBN13)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Pages)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Pages)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Publisher)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Publisher)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Language)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Language)
        </dd>

   </dl>
</div>

@Html.Partial("_DetailsOkButton")